@mixin font-face($family, $file, $weight, $style: normal) {
  @font-face {
    font-family: $family;
    src:
      url('../../fonts/#{$file}.woff2') format('woff2'),
      url('../../fonts/#{$file}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face('Actay', 'Actay-Regular', 400);
@include font-face('Actay', 'Actay-RegularItalic', 400, italic);
@include font-face('Actay Wide', 'ActayWide-Bold', 700);
@include font-face('Actay Wide', 'ActayWide-BoldItalic', 700, italic);
@include font-face('Actay Condensed', 'ActayCondensed-Thin', 100);
@include font-face('Actay Condensed', 'ActayCondensed-ThinItalic', 100, italic);
