@use '../variables/base-font-size' as size;

html {
  min-height: 100dvh;
  font-size: size.$base-font-size;
}

html,
body {
  margin: 0;
  font-family: var(--fs-font-sans);
  color: var(--fs-color-text);
  background-color: var(--fs-color-bg);
}

body {
  min-height: 100dvh;
  font-size: var(--fs-text-body-size);
  line-height: 1.25;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
