/* Палитра Figma Colors (759:31466) */
:root {
  --fs-color-black: #010101;
  --fs-color-beige: #d3c59f;
  --fs-color-gray: #999999;
  --fs-color-light-hover: #e9e8e3;
  --fs-color-light: #f3f2ed;
  --fs-color-white: #ffffff;
  --fs-color-error: #e9363a;

  --fs-color-bg: var(--fs-color-white);
  --fs-color-text: var(--fs-color-black);
}
