@use '../tools/functions' as *;

/* Шкала отступов, шаг 8px */
:root {
  --fs-space-0: 0;
  --fs-space-1: #{rem(8)};
  --fs-space-2: #{rem(16)};
  --fs-space-3: #{rem(24)};
  --fs-space-4: #{rem(32)};
  --fs-space-5: #{rem(40)};
  --fs-space-6: #{rem(48)};
}
